@sm: ~"screen and (min-width: 768px)";
@only-sm: ~"screen and (min-width: 768px) and (max-width: 992px)";
@less-than-sm: ~"screen and (max-width: 768px)";
@md: ~"screen and (min-width: 992px)";
@less-than-md: ~"screen and (max-width: 992px)";
@lg: ~"screen and (min-width: 1200px)";

@textcolor: #54332f;
@bgcolor: rgb(247, 247, 247);
@bgimage: "../img/background-beans-black-coffee.jpg";

*{
  font-family: 'Rochester', cursive;
  text-rendering: optimizeLegibility;
}


header{
  background-position: center;
  background-image: url("@{bgimage}");
  background-size: cover;
  height: 100vh;
  position: relative;

  nav{
    background-color: rgba(84, 51, 47, 0.9);
    color: #F5EAE7;

    .navbar-brand{
      color: #F5EAE7;
      font-size: 150%;
      padding: 0px;
    }

    .nav-link{
      margin-top: 4px;
      padding: 0;
      color: #F5EAE7;
    }

    .nav-link:hover,
    .nav-link:active{
      text-decoration: underline;
    }

    ion-icon {
      font-size: 32px;
      color: @textcolor;
    }
  }

    h1{
      color:@textcolor;
      margin-top: 310px;
      padding-right: 15px;
      font-size: 400%;
      text-align: right;

      @media @less-than-sm{
        padding: 0;
        margin-top: 20px;
        text-align: center;
      }
    }



    h2{
      color: @textcolor;
      text-align: right;

      @media @less-than-sm{
        text-align: center;
      }
    }

    .bnt-header:link, .bnt-header:visited{
      margin-top: 10px;
      text-decoration: none;
      border: 1px solid @textcolor;
      color: @textcolor;
      border-radius: 300px;
      margin-right: 10px;
      font-size: 150%;
    }

    .btn-buy:link,.btn-buy:visited{
      padding-right: 22px;
      padding-left: 22px;
      background-color: @textcolor;
      color: @bgcolor;
    }
    .btn-learn:active, .btn-learn:hover{
        border-bottom: 1px solid #ff394c;

    }

    .btn-buy:active, .btn-buy:hover{
      background-color: rgba(84, 51, 47, 0.9);
     }

    .row{
      float: right;
      margin-right: 50px;

      @media @less-than-sm{
        float: none;
        display: block;
        text-align: center;
        margin-right: 0px;
        margin-top: 50px;
      }
    }
}

.Intro {
  h2 {
    margin-top: 25px;
    text-align: center;
    color: @textcolor;
  }

  h2:after {
    background-color: @textcolor;
    display: block;
    height: 2px;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  img {
    width: 100%;
  }

  .Intro-img-1 {
    float: right;
    margin-bottom: 100px;
    // padding-left: 5px;
  }

  .Intro-text {
    margin-top: 60px;

    @media @less-than-md {
      margin-top: 0px;
    }
  }

  @media @less-than-sm {
    display: flex;
    flex-flow: column;


    #Intro-text-1 {
      order: 2;
    }

    #Intro-img {
      order: 1;
      margin-top: 50px;

    }

    .Intro-img-1, .Intro-img-2 {
      margin-bottom: 30px;
    }

    .Intro-img-2 {
      margin-top: 50px;
    }
  }
// Just this f@@@ pixel 768 has problem
  @media (min-width: 768px) and (max-width: 768px){
    #Intro-text-1 {
      order: 0;
    }

    #Intro-img {
      order: 0;
    }

    .Intro-text{
      margin-top: 50px;
    }
  }


}


.Blends{
  background-image: url("../img/beans-brown-coffee.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  margin-top: 50px;

  .jumbotron{
    display: inline-block;
    margin-left: 20px;
    max-width: 30%;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 60px;
    background-color: rgba(226, 216, 200, 0.7);

    @media @less-than-sm{
      max-width: 93%;
      margin-top: 20px;
      margin-bottom: 0;
    }

    //a little useless but just in case
    @media @less-than-sm and (max-height: 670px){
      max-width: 93%;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

  .row{
    display: block;
    text-align: center;
    max-width: 99.5%;
  }


  .container-fluid{
    padding: 0px;
  }

  h3{
    margin-top: 20px;
    text-align: center;
  }

  .btn-Blends:link, .btn-Blends:visited{
    border: 1px solid @textcolor;
    text-align: center;
    float: right;
    margin-top: 40px;
    color: @bgcolor;
    background-color: @textcolor;

    @media @less-than-sm{
      margin-top: -35px;
    }

    @media (max-width: 576px) {
      margin-top: 0;
      float: none;
    }


  }

  .btn-Blends:hover, .btn-Blends:active{
    color: @textcolor;
    background-color: rgba(226, 221, 212, 0.7);
  }

  p {
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.Blends-header {
  margin-top: 70px;
  font-family: 'Rochester', cursive;
  text-align: center;
  color: @textcolor;
}

.Blends-header:after{
    background-color: @textcolor;
    display: block;
    height: 2px;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
  }


.Contact{
  h2{
    margin-top: 70px;
    font-family: 'Rochester', cursive;
    text-align: center;
    color: @textcolor;
  }

  h2:after{
    background-color: @textcolor;
    display: block;
    height: 2px;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  input[type=text],
  input[type=email],
  select,
  textarea{
    margin-bottom: 10px;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  input[type=submit]{
    float: right;
  }


  .btn-contact{
    border: 1px solid @textcolor;
    text-align: center;
    float: right;
    margin-top: 40px;
    color: @bgcolor;
    background-color: @textcolor;
    border-radius: .25rem;
  }

  .btn-contact:focus{
    color: @textcolor;
    background-color: rgba(226, 221, 212, 0.7);
  }


  textarea {
    height: 100px;
  }

  input[type=checkbox] {
    margin: 10px 5px 10px 0;
  }

  label{
    margin-top: 5px;

    @media (max-width: 768px) and (min-width: 576px){
      display: none;

    }
  }

  .map{
    display: block;
    text-align: center;
  }

  iframe{
    @media @less-than-sm{
      display:block;
      @media (max-width: 576px) {
        margin: 30px auto;
      }
    }
  }

  .contact-form{
    width: 100%;

    @media (max-width: 576px){
      width: 80%;
      margin-left: 10%;
    }
  }
}

footer{
  margin-top: 50px;
  background-color: @textcolor;
  color: @bgcolor;
  padding: 10px;
  p{
    text-align: center;
    margin-bottom: 0px;
  }
}




