.header{
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)),url("../img/barista-barista-girl-business.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;

  .navbar{
    font-family: 'Rochester', cursive;
    text-rendering: optimizeLegibility;
    background-color: rgba(234, 198, 151, 0.91);
  }
  .navbar-nav .nav-link {
    color: rgba(34, 33, 35, 0.98);
  }
  .navbar-brand{
    color: rgba(34, 33, 35, 0.98);
  }

  .navbar-toggler {
    color: rgba(34, 33, 35, 0.98);
    border-color: rgba(34, 33, 35, 0.98);
  }


  h1{
    margin-top: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Rochester', cursive;
    text-align: center;
    color: rgb(234, 198, 151);
  }

  .jumbotron{
    margin-top: 50px;
    background-color: rgba(234, 198, 151, 0.85);
    margin-bottom: 0px;

    a{
      margin-top: 50px;
      display: block;
      text-align: center;

    }

    .btn:link,.btn:visited{
      border: 1px solid #222123;
      color: #222123;
    }

    .btn:hover, .btn:active{
      color: rgba(234, 198, 151, 0.85);
      background-color: #222123;
    }

  }
}

footer{
  background-color: rgba(234, 198, 151, 0.85);
  color: #222123;
  padding: 10px;
  p{
    margin-bottom: 0px;
  }
}




