.header {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/barista-barista-girl-business.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header .navbar {
  font-family: 'Rochester', cursive;
  text-rendering: optimizeLegibility;
  background-color: rgba(234, 198, 151, 0.91);
}
.header .navbar-nav .nav-link {
  color: rgba(34, 33, 35, 0.98);
}
.header .navbar-brand {
  color: rgba(34, 33, 35, 0.98);
}
.header .navbar-toggler {
  color: rgba(34, 33, 35, 0.98);
  border-color: rgba(34, 33, 35, 0.98);
}
.header h1 {
  margin-top: 20px;
  text-rendering: optimizeLegibility;
  font-family: 'Rochester', cursive;
  text-align: center;
  color: #eac697;
}
.header .jumbotron {
  margin-top: 50px;
  background-color: rgba(234, 198, 151, 0.85);
  margin-bottom: 0px;
}
.header .jumbotron a {
  margin-top: 50px;
  display: block;
  text-align: center;
}
.header .jumbotron .btn:link,
.header .jumbotron .btn:visited {
  border: 1px solid #222123;
  color: #222123;
}
.header .jumbotron .btn:hover,
.header .jumbotron .btn:active {
  color: rgba(234, 198, 151, 0.85);
  background-color: #222123;
}
footer {
  background-color: rgba(234, 198, 151, 0.85);
  color: #222123;
  padding: 10px;
}
footer p {
  margin-bottom: 0px;
}
/*# sourceMappingURL=style2.css.map */