* {
  font-family: 'Rochester', cursive;
  text-rendering: optimizeLegibility;
}
header {
  background-position: center;
  background-image: url("../img/background-beans-black-coffee.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
header nav {
  background-color: rgba(84, 51, 47, 0.9);
  color: #F5EAE7;
}
header nav .navbar-brand {
  color: #F5EAE7;
  font-size: 150%;
  padding: 0px;
}
header nav .nav-link {
  margin-top: 4px;
  padding: 0;
  color: #F5EAE7;
}
header nav .nav-link:hover,
header nav .nav-link:active {
  text-decoration: underline;
}
header nav ion-icon {
  font-size: 32px;
  color: #54332f;
}
header h1 {
  color: #54332f;
  margin-top: 310px;
  padding-right: 15px;
  font-size: 400%;
  text-align: right;
}
@media screen and (max-width: 768px) {
  header h1 {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
}
header h2 {
  color: #54332f;
  text-align: right;
}
@media screen and (max-width: 768px) {
  header h2 {
    text-align: center;
  }
}
header .bnt-header:link,
header .bnt-header:visited {
  margin-top: 10px;
  text-decoration: none;
  border: 1px solid #54332f;
  color: #54332f;
  border-radius: 300px;
  margin-right: 10px;
  font-size: 150%;
}
header .btn-buy:link,
header .btn-buy:visited {
  padding-right: 22px;
  padding-left: 22px;
  background-color: #54332f;
  color: #f7f7f7;
}
header .btn-learn:active,
header .btn-learn:hover {
  border-bottom: 1px solid #ff394c;
}
header .btn-buy:active,
header .btn-buy:hover {
  background-color: rgba(84, 51, 47, 0.9);
}
header .row {
  float: right;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  header .row {
    float: none;
    display: block;
    text-align: center;
    margin-right: 0px;
    margin-top: 50px;
  }
}
.Intro h2 {
  margin-top: 25px;
  text-align: center;
  color: #54332f;
}
.Intro h2:after {
  background-color: #54332f;
  display: block;
  height: 2px;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
.Intro img {
  width: 100%;
}
.Intro .Intro-img-1 {
  float: right;
  margin-bottom: 100px;
}
.Intro .Intro-text {
  margin-top: 60px;
}
@media screen and (max-width: 992px) {
  .Intro .Intro-text {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .Intro {
    display: flex;
    flex-flow: column;
  }
  .Intro #Intro-text-1 {
    order: 2;
  }
  .Intro #Intro-img {
    order: 1;
    margin-top: 50px;
  }
  .Intro .Intro-img-1,
  .Intro .Intro-img-2 {
    margin-bottom: 30px;
  }
  .Intro .Intro-img-2 {
    margin-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 768px) {
  .Intro #Intro-text-1 {
    order: 0;
  }
  .Intro #Intro-img {
    order: 0;
  }
  .Intro .Intro-text {
    margin-top: 50px;
  }
}
.Blends {
  background-image: url("../img/beans-brown-coffee.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  margin-top: 50px;
}
.Blends .jumbotron {
  display: inline-block;
  margin-left: 20px;
  max-width: 30%;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 60px;
  background-color: rgba(226, 216, 200, 0.7);
}
@media screen and (max-width: 768px) {
  .Blends .jumbotron {
    max-width: 93%;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) and (max-height: 670px) {
  .Blends .jumbotron {
    max-width: 93%;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
.Blends .row {
  display: block;
  text-align: center;
  max-width: 99.5%;
}
.Blends .container-fluid {
  padding: 0px;
}
.Blends h3 {
  margin-top: 20px;
  text-align: center;
}
.Blends .btn-Blends:link,
.Blends .btn-Blends:visited {
  border: 1px solid #54332f;
  text-align: center;
  float: right;
  margin-top: 40px;
  color: #f7f7f7;
  background-color: #54332f;
}
@media screen and (max-width: 768px) {
  .Blends .btn-Blends:link,
  .Blends .btn-Blends:visited {
    margin-top: -35px;
  }
}
@media (max-width: 576px) {
  .Blends .btn-Blends:link,
  .Blends .btn-Blends:visited {
    margin-top: 0;
    float: none;
  }
}
.Blends .btn-Blends:hover,
.Blends .btn-Blends:active {
  color: #54332f;
  background-color: rgba(226, 221, 212, 0.7);
}
@media (max-width: 576px) {
  .Blends p {
    display: none;
  }
}
.Blends-header {
  margin-top: 70px;
  font-family: 'Rochester', cursive;
  text-align: center;
  color: #54332f;
}
.Blends-header:after {
  background-color: #54332f;
  display: block;
  height: 2px;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
.Contact h2 {
  margin-top: 70px;
  font-family: 'Rochester', cursive;
  text-align: center;
  color: #54332f;
}
.Contact h2:after {
  background-color: #54332f;
  display: block;
  height: 2px;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
.Contact input[type=text],
.Contact input[type=email],
.Contact select,
.Contact textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.Contact input[type=submit] {
  float: right;
}
.Contact .btn-contact {
  border: 1px solid #54332f;
  text-align: center;
  float: right;
  margin-top: 40px;
  color: #f7f7f7;
  background-color: #54332f;
  border-radius: .25rem;
}
.Contact .btn-contact:focus {
  color: #54332f;
  background-color: rgba(226, 221, 212, 0.7);
}
.Contact textarea {
  height: 100px;
}
.Contact input[type=checkbox] {
  margin: 10px 5px 10px 0;
}
.Contact label {
  margin-top: 5px;
}
@media (max-width: 768px) and (min-width: 576px) {
  .Contact label {
    display: none;
  }
}
.Contact .map {
  display: block;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .Contact iframe {
    display: block;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .Contact iframe {
    margin: 30px auto;
  }
}
.Contact .contact-form {
  width: 100%;
}
@media (max-width: 576px) {
  .Contact .contact-form {
    width: 80%;
    margin-left: 10%;
  }
}
footer {
  margin-top: 50px;
  background-color: #54332f;
  color: #f7f7f7;
  padding: 10px;
}
footer p {
  text-align: center;
  margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */